.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
}
